@model IEnumerable<DeepTilapiaBackEnd.Models.Jaula>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoJaula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ancho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Largo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profundidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volumen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoJaula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ancho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Largo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profundidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volumen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
